<?php

return new DatabaseConfig(
                        '', // database host 
                        '', // database username
                        '', // database password 
                        ''  // database to use
);

